<form #classForm="ngForm" (ngSubmit)="onSubmit()">
    <mat-card class="example-card">
    <mat-card-header >
      <mat-card-title >{{category}}</mat-card-title>
      <mat-card-subtitle>classification result</mat-card-subtitle>
      

    </mat-card-header>
    <mat-card-content >
      <p>
        {{classifyservice.doc}}
      </p>
    </mat-card-content>

    <br>
    <mat-select placeholder="Change Category" [(ngModel)]= "manCat" name="manCat">
    <mat-option *ngFor="let categorytype of categorytypes" [value]="categorytype.name" >
    {{categorytype.name}}
       </mat-option>
      </mat-select>
      <br>    


    <mat-card-actions>
      <button mat-button>Save</button>
    </mat-card-actions>
</mat-card>
</form>