<p *ngIf = "!(authservice.user | async)?.uid">You must log in to view this app</p>

<p *ngIf = "(authservice.user | async)?.uid">

    <mat-accordion>
        <mat-expansion-panel *ngFor = "let article of articles$| async">
          <mat-expansion-panel-header>
              <mat-panel-title>
              Category Classified by AWS:   {{article.aiCat}}
              </mat-panel-title>
              <mat-panel-title>
                Category Changed by user:  {{article.manCat}}
             </mat-panel-title>
          </mat-expansion-panel-header>
               {{article.body}}
        </mat-expansion-panel>
      </mat-accordion>

</p>
