<mat-card>
  <h1>Sign Up</h1>
  <form #signupForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="example-container">
      <mat-form-field>
          <input 
              matInput placeholder="Email Address"
              [(ngModel)] = "email"
              name = "email">
      </mat-form-field> 
      <br><br>
      <mat-form-field>
          <input 
               matInput placeholder="Choose Password"
              [(ngModel)] = "password"
              name = "password">
      </mat-form-field>    
      <div style="color:red">
        {{authservice.err}}
      </div>                 
      <div >
          <button mat-raised-button color="primary" 
                  [disabled]="!signupForm.form.valid">
                   Sign Up
          </button>
      </div>
    </div>
  </form>
  </mat-card>